<div class="room-listing">
  <div class="room-card" *ngFor="let room of rooms">
    <img [src]="room.imageUrl" alt="{{ room.name }}" class="room-image" />
    <div class="room-info">
      <h3 class="room-name">{{ room.name }}</h3>
      <p class="room-description">{{ room.shortDescription }}</p>
      <p class="room-price">Price: ${{ room.pricePerNight }} / night</p>
      <ul class="room-features">
        <li *ngFor="let feature of room.features">{{ feature }}</li>
      </ul>
      <button class="book-button" (click)="bookRoom(room)">Book Now</button>
    </div>
  </div>
</div>
